@model IEnumerable<SamMusicStoreWebSite.Models.Genre>
@{
    ViewBag.Title = "Index";
}



<h2>Store from: @Model.Count() genres</h2>

@foreach (var item in @Model)
{
    <ul>
        <li>
            @Html.ActionLink(item.Name, "Browse", new { genre = item.Name})
        </li>
    </ul>
}

